{% extends 'ecommerceApp/base.html' %}
{% load static %}

{% block content %}
<style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            line-height: 1.6;
        }

        .container {
            width: 95%;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        .nav a {
            text-decoration: none;
            color: #333;
        }

        .products{
            margin-top: 65px;    
        }

        .products, .cart {
            padding: 40px 0;
        }

        .products h2, .cart h2 {
            text-align: center;
            margin-bottom: 40px;
        }

        .product-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
        }

        .product-item {
            background: #fff;
            padding: 20px;
            padding-bottom: 40px;
            text-align: center;
            border: 1px solid #e6e6e6;
            border-radius: 10px;
            transition: transform 0.3s ease;
            flex: 1 1 calc(33.333% - 20px);
            box-sizing: border-box;
            transition: transform 0.3s ease;
        }

        .product-item img {
            width: 250px;
            height: 190px;
            border-radius: 10px;
        }

        .product-item h3 {
            margin: 5px 0 10px;
            font-size: 24px;
        }

        .product-item p {
            font-size: 18px;
            color: #666;
        }

        

        .product-item form {
            margin-top: 10px;
        }

        /* .product-item input[type="number"] {
            width: 50px;
            padding: 5px;
            margin-right: 10px;
        } */

        .product-item button {
            padding: 10px 20px;
            background: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .product-item button:hover {
            background: #555;
        }
        .arrow{
            display: flex;
            justify-content: center;
        }
        .arrow img{
            height: 25px;
            width: 22px;
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
            border: 1px solid #e6e6e6;
        } 
        .update-cart:hover{
            transform: translateY(2px);
            
        }
        
        .arrow div{
            width: 30px;
            height: 45px;
            margin: 0px;
            padding: 0px;
            font-size: 18px;
        }
        .cart table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .cart th, .cart td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .cart th {
            background: #f4f4f4;
        }

        .cart p {
            text-align: right;
            font-size: 18px;
            font-weight: bold;
        }
        .buy-button-div{
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
        .buy-button{
            background-color: #0f0f0f;
            color: #fff ;
            border: none;
            border-radius: 5px;
            width: 126px;
            height: 50px;
            font-size: 20px;
            font-weight: bold;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
        }
        .buy-button:hover{
            cursor: pointer;
            background-color: #474646;
            border: 1px solid #adbed1;
            transform: scale(1.05);
            transform: translateY(2px);
        }

        


</style>
<script type="text/javascript">
    var usuario = '{{ usuario }}';

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');
</script>
<body>

    <main>
        <section class="products">
            <div class="container">
                <h2>Selected Products</h2>
                <div class="product-grid">
                    {% for i in items %}
                    <div class="product-item">
                        <img src="{{i.image_url}}" alt="Producto 1"> 
                        <h3>{{i.name}}</h3>
                        <p>${{i.price}}</p>
                        <form method="POST">
                            <div class="arrow">
                                <img class="update-cart" data-product="{{i.id}}" data-action="remove" src="{% static 'ecommerceApp/Images/calendar-arrow-left.svg' %}" alt="">
                                <div>{{i.quantity}}</div>
                                <img class="update-cart" data-product="{{i.id}}" data-action="add" src="{% static 'ecommerceApp/Images/calendar-arrow-right.svg' %}" alt="">
                            </div>
                            
                            <a href="{% url 'dlete_item' i.idd %}">
                            <button type="button" onclick="">Delete from Cart</button>
                            </a>
                        </form>
                    </div>
                    {% endfor %}
                     
                </div>
            </div>
        </section>
        <section class="cart" id="cart">
            <div class="container">
                <h2>Carrito de Compras</h2>
                <table id="cart-table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for compra in compras_list %}
                        <tr>
                            <td>{{compra.nombre}}</td>
                            <td>${{compra.precio}}</td>
                            <td>{{compra.cantidad}}</td>
                            <td>${{compra.tot|floatformat:2}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p class="total-price" id="total-price"><strong>Total: ${{total|floatformat:2}}</strong></p>
            </div>
        </section>
        <a class="buy-button-div" href="{% url 'checkout' %}">
            
                <button class="buy-button">Buy</button>
            
        </a>
    </main>
 <script type="text/javascript" src="{% static 'ecommerceApp/JS/ecomme_add.js' %}">

     
     
</script>   
{% endblock %}