{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Web Store</title>
    <link rel="stylesheet" href="{% static 'ecommerceApp/CSS/signin.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo"><a href="index.html">Web Store</a></h1>
        </div>
    </header>
    <main>
        <section class="auth-section">
            <div class="container">
                <h2>Iniciar Sesión</h2>
                <form class="auth-form">
                    <label for="email">User</label>
                    <input type="email" id="email" name="email" required>
                    
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                    
                    <button type="submit">Iniciar Sesión</button>
                    
                    <p>¿No tienes una cuenta? <a href="{% url 'signup' %}">Regístrate aquí</a></p>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Tienda Minimalista. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
